*,
::before,
::after {
	box-sizing: border-box;
	margin: unset;
}

html {
	-webkit-text-size-adjust: 100%;
	background: var(--colors-contrast-contrast);
	color: var(--text-color);
	font-family: var(--text-font);
	line-height: var(--text-line-height);
	letter-spacing: var(--text-letter-spacing);
	font-size: var(--text-size);
	font-weight: var(--text-weight);
}

body {
	margin: 0;
}

hr {
	height: 0px;
	border-width: var(--seperator-size);
	border-color: var(--seperator-color);
	border-style: var(--seperator-styling);
	margin-bottom: var(--seperator-gap);
}

a {
	color: var(--anchor-color);
	cursor: var(--anchor-cursor);
	text-decoration: var(--anchor-decor);
	text-decoration-color: var(--anchor-decor-color);
	text-underline-offset: var(--anchor-decor-offset);
	text-decoration-thickness: var(--anchor-decor-thickness);
	transition: var(--anchor-transition-property) var(--anchor-transition-duration)
		var(--anchor-transition-timing-function) var(--anchor-transition-delay);
}

a:hover,
a:focus,
a:active,
a:visited {
	color: var(--anchor-hover-color);
	text-decoration-color: var(--anchor-hover-color);
}

abbr[title] {
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: var(--font-weights-bold);
}

code,
kbd,
samp,
pre {
	font-family: var(--fonts-mono);
	font-size: var(--text-size);
}

small {
	font-size: var(--font-sizes-sm);
}

sub,
sup {
	font-size: var(--font-sizes-xs);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: var(--text-line-height);
	margin: var(--spacings-base);
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
	box-shadow: none;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

summary {
	display: list-item;
}
