.box {
	background-color: var(--box-background);
	color: var(--box-color);
	padding: var(--box-padding);
	box-shadow: var(--box-shadow);
	border-radius: var(--box-radii);
}
.contrast {
	--box-background: var(--colors-contrast);
	--box-color: var(--colors-contrast-contrast);
	--shadows-color: var(--colors-contrast-shadow);
}

.contrastSubtle {
	composes: contrast;
	--box-background: var(--colors-contrast-bg);
	--box-color: var(--colors-contrast-text-subtle);
}

.primary {
	--box-background: var(--colors-primary);
	--box-color: var(--colors-primary-contrast);
	--shadows-color: var(--colors-primary-shadow);
}

.primarySubtle {
	composes: primary;
	--box-background: var(--colors-primary-bg);
	--box-color: var(--colors-primary-text-subtle);
}

.secondary {
	--box-background: var(--colors-secondary);
	--box-color: var(--colors-secondary-contrast);
	--shadow-color: var(--colors-secondary-shadow);
}

.secondarySubtle {
	composes: secondary;
	--box-background: var(--colors-secondary-bg);
	--box-color: var(--colors-secondary-text-subtle);
}

.info {
	--box-background: var(--colors-info);
	--box-color: var(--colors-info-contrast);
	--shadow-color: var(--colors-info-shadow);
}

.infoSubtle {
	composes: info;
	--box-background: var(--colors-info-bg);
	--box-color: var(--colors-info-text-subtle);
}

.warning {
	--box-background: var(--colors-warning);
	--box-color: var(--colors-warning-contrast);
	--shadow-color: var(--colors-warning-shadow);
}

.warningSubtle {
	composes: warning;
	--box-background: var(--colors-warning-bg);
	--box-color: var(--colors-warning-text-subtle);
}

.danger {
	--box-background: var(--colors-danger);
	--box-color: var(--colors-danger-contrast);
	--shadow-color: var(--colors-danger-shadow);
}

.dangerSubtle {
	composes: danger;
	--box-background: var(--colors-danger-bg);
	--box-color: var(--colors-danger-text-subtle);
}

.success {
	--box-background: var(--colors-success);
	--box-color: var(--colors-success-contrast);
	--shadow-color: var(--colors-success-shadow);
}

.successSubtle {
	composes: success;
	--box-background: var(--colors-success-bg);
	--box-color: var(--colors-success-text-subtle);
}
