# dependencies
node_modules

# build
dist
vite.config.ts.timestamp-*

# testing
coverage

# misc
*.log
*.map
.DS_Store

# storybook
storybook-static

# typescript
*.d.ts
!nectar.d.ts
!tooling/vite-config/src/index.d.ts

# turbo
.turbo

# vercel
.vercel
