{
	"extends": "nyc-config-tsx",
	"all": true,
	"report-dir": "var/coverage",
	"extensions": [".ts", ".tsx"],
	"reporter": ["lcov"],
	"temp-dir": "var/coverage/.nyc_output",
	"include": ["packages/*/src/**/*"],
	"exclude": ["**/*.stories.{ts,tsx}", "**/index.ts", "**/*.spec.{ts,tsx}"],
	"check-coverage": false
}
